In [1]:
import pandas as pd
import s3fs

In [4]:
participants = pd.read_csv('s3://dhcp-afq/rel3_dhcp_dmri_eddy_pipeline/participants.tsv', sep='\t')

In [5]:
fs = s3fs.S3FileSystem()

In [7]:
subjects = participants["participant_id"]
subjects

0      CC00063AN06
1      CC00063BN06
2      CC00065XX08
3      CC00066XX09
4      CC00067XX10
          ...
688    CC01232BN12
689    CC01234AN14
690    CC01234BN14
691    CC01236XX16
692    CC00908XX17
Name: participant_id, Length: 693, dtype: object

In [9]:
all_sessions = []
tract_profiles = []
dont_exist = []
for sub in subjects:
    sub_folder = f"/dhcp-afq/afq_rel3/output/sub-{sub}/"
    sessions = pd.read_csv(f"s3://dhcp-afq/rel3_dhcp_dmri_eddy_pipeline/sub-{sub}/sub-{sub}_sessions.tsv", sep="\t")["session_id"]    
    all_sessions.append(sessions)
    for ses in sessions:
        key = f"s3://dhcp-afq/afq_rel3/output/sub-{sub}/ses-{ses}/sub-{sub}_ses-{ses}_coordsys-RASMM_trkmethod-probCSD_recogmethod-AFQ_desc-profiles_dwi.csv"
        if fs.exists(key):
            this = pd.read_csv(key, index_col=0)
            this["subjectID"] = sub
            this["sessionID"] = ses
            tract_profiles.append(this) 
        else:
            dont_exist.append(key)

In [10]:
len(dont_exist)

101

In [11]:
len(tract_profiles)

677

In [12]:
df = pd.concat(tract_profiles)

In [13]:
df

,tractID,nodeID,dti_fa,dti_md,dki_fa,dki_md,dki_mk,subjectID,sessionID
0,ATR_L,0,0.205095,0.001281,0.183460,0.001804,0.467848,CC00063AN06,15102
1,ATR_L,1,0.199661,0.001182,0.184761,0.001557,0.428305,CC00063AN06,15102
2,ATR_L,2,0.195559,0.001112,0.184929,0.001392,0.380638,CC00063AN06,15102
3,ATR_L,3,0.193258,0.001068,0.184717,0.001289,0.348028,CC00063AN06,15102
4,ATR_L,4,0.191984,0.001044,0.184063,0.001233,0.334604,CC00063AN06,15102
...,...,...,...,...,...,...,...,...,...
2595,VOF_R,95,0.159630,0.001297,0.160357,0.001493,0.346891,CC00908XX17,37030
2596,VOF_R,96,0.157208,0.001276,0.157449,0.001475,0.354758,CC00908XX17,37030
2597,VOF_R,97,0.154813,0.001252,0.154525,0.001455,0.363086,CC00908XX17,37030
2598,VOF_R,98,0.152399,0.001229,0.151517,0.001434,0.371158,CC00908XX17,37030
2599,VOF_R,99,0.149779,0.001206,0.148337,0.001414,0.378627,CC00908XX17,37030

In [14]:
df.to_csv("/home/ae-grotheer/Storage/projects/dHCP/FinalPipeline/rel3/dti_tract_profiles_combined.csv")

In [2]:
other = pd.read_csv('/home/ae-grotheer/Storage/projects/dHCP/FinalPipeline/rel3/dti_tract_profiles_combined.csv', index_col=0)

In [3]:
other

,tractID,nodeID,dti_fa,dti_md,dki_fa,dki_md,dki_mk,subjectID,sessionID
0,ATR_L,0,0.205095,0.001281,0.183460,0.001804,0.467848,CC00063AN06,15102
1,ATR_L,1,0.199661,0.001182,0.184761,0.001557,0.428305,CC00063AN06,15102
2,ATR_L,2,0.195559,0.001112,0.184929,0.001392,0.380638,CC00063AN06,15102
3,ATR_L,3,0.193258,0.001068,0.184717,0.001289,0.348028,CC00063AN06,15102
4,ATR_L,4,0.191984,0.001044,0.184063,0.001233,0.334604,CC00063AN06,15102
...,...,...,...,...,...,...,...,...,...
2595,VOF_R,95,0.159630,0.001297,0.160357,0.001493,0.346891,CC00908XX17,37030
2596,VOF_R,96,0.157208,0.001276,0.157449,0.001475,0.354758,CC00908XX17,37030
2597,VOF_R,97,0.154813,0.001252,0.154525,0.001455,0.363086,CC00908XX17,37030
2598,VOF_R,98,0.152399,0.001229,0.151517,0.001434,0.371158,CC00908XX17,37030
2599,VOF_R,99,0.149779,0.001206,0.148337,0.001414,0.378627,CC00908XX17,37030

In [4]:
other['tractID'].replace('ARC_L', 'ARCL', inplace=True)
other['tractID'].replace('ARC_R', 'ARCR', inplace=True)
other['tractID'].replace('ATR_L', 'ATRL', inplace=True)
other['tractID'].replace('ATR_R', 'ATRR', inplace=True)
other['tractID'].replace('CGC_L', 'CGCL', inplace=True)
other['tractID'].replace('CGC_R', 'CGCR', inplace=True)
other['tractID'].replace('CST_L', 'CSTL', inplace=True)
other['tractID'].replace('CST_R', 'CSTR', inplace=True)
other['tractID'].replace('IFO_L', 'IFOL', inplace=True)
other['tractID'].replace('IFO_R', 'IFOR', inplace=True)
other['tractID'].replace('ILF_L', 'ILFL', inplace=True)
other['tractID'].replace('ILF_R', 'ILFR', inplace=True)
other['tractID'].replace('MdLF_L', 'MdLFL', inplace=True)
other['tractID'].replace('MdLF_R', 'MdLFR', inplace=True)
other['tractID'].replace('OR_L', 'ORL', inplace=True)
other['tractID'].replace('OR_R', 'ORR', inplace=True)
other['tractID'].replace('pARC_L', 'pARCL', inplace=True)
other['tractID'].replace('pARC_R', 'pARCR', inplace=True)
other['tractID'].replace('SLF_L', 'SLFL', inplace=True)
other['tractID'].replace('SLF_R', 'SLFR', inplace=True)
other['tractID'].replace('UNC_L', 'UNCL', inplace=True)
other['tractID'].replace('UNC_R', 'UNCR', inplace=True)
other['tractID'].replace('VOF_L', 'VOFL', inplace=True)
other['tractID'].replace('VOF_R', 'VOFR', inplace=True)

In [5]:
other

,tractID,nodeID,dti_fa,dti_md,dki_fa,dki_md,dki_mk,subjectID,sessionID
0,ATRL,0,0.205095,0.001281,0.183460,0.001804,0.467848,CC00063AN06,15102
1,ATRL,1,0.199661,0.001182,0.184761,0.001557,0.428305,CC00063AN06,15102
2,ATRL,2,0.195559,0.001112,0.184929,0.001392,0.380638,CC00063AN06,15102
3,ATRL,3,0.193258,0.001068,0.184717,0.001289,0.348028,CC00063AN06,15102
4,ATRL,4,0.191984,0.001044,0.184063,0.001233,0.334604,CC00063AN06,15102
...,...,...,...,...,...,...,...,...,...
2595,VOFR,95,0.159630,0.001297,0.160357,0.001493,0.346891,CC00908XX17,37030
2596,VOFR,96,0.157208,0.001276,0.157449,0.001475,0.354758,CC00908XX17,37030
2597,VOFR,97,0.154813,0.001252,0.154525,0.001455,0.363086,CC00908XX17,37030
2598,VOFR,98,0.152399,0.001229,0.151517,0.001434,0.371158,CC00908XX17,37030
2599,VOFR,99,0.149779,0.001206,0.148337,0.001414,0.378627,CC00908XX17,37030

In [6]:
df = pd.read_csv("/home/ae-grotheer/Storage/projects/dHCP/FinalPipeline/rel3/rel3_t1t2_tract_profiles_combined.csv")

In [7]:
merged_df = pd.merge(df, other, on=["subjectID", "tractID", "nodeID", "sessionID"], how="inner")

In [8]:
#merged_df = merged_df.drop('Unnamed: 0', axis=1)
merged_df

,tractID,t1wt2w,nodeID,subjectID,sessionID,dti_fa,dti_md,dki_fa,dki_md,dki_mk
0,ARCL,0.935013,0,CC00063AN06,15102,0.145080,0.001170,0.138036,0.001297,0.280169
1,ARCL,0.666726,1,CC00063AN06,15102,0.136207,0.001259,0.135475,0.001358,0.220683
2,ARCL,0.609758,2,CC00063AN06,15102,0.135779,0.001345,0.138298,0.001427,0.180097
3,ARCL,0.605308,3,CC00063AN06,15102,0.140321,0.001391,0.143772,0.001462,0.156176
4,ARCL,0.609886,4,CC00063AN06,15102,0.146983,0.001407,0.150318,0.001473,0.145722
...,...,...,...,...,...,...,...,...,...,...
1508395,pARCR,0.649893,95,CC00908XX17,37030,0.148216,0.001408,0.153454,0.001589,0.315472
1508396,pARCR,0.683608,96,CC00908XX17,37030,0.145815,0.001379,0.150588,0.001562,0.323383
1508397,pARCR,0.744999,97,CC00908XX17,37030,0.142784,0.001340,0.147253,0.001526,0.332645
1508398,pARCR,0.846616,98,CC00908XX17,37030,0.139074,0.001294,0.143250,0.001481,0.341821
1508399,pARCR,0.999390,99,CC00908XX17,37030,0.135365,0.001248,0.139164,0.001433,0.349590

In [9]:
merged_df.to_csv("/home/ae-grotheer/Storage/projects/dHCP/FinalPipeline/rel3/rel3_t1wt2w_tract_profiles_with_dti.csv")

In [43]:
!open .

/bin/bash: open: command not found